<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">"
        <title>The Guardian News</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style type="text/css">
            #navBar{
                margin: 0 auto;
            }

            .sectionName{
                text-align: right;
            }

            #sectionSelect{
                max-width: 30%;
                margin: 0  auto 0 auto;
            }

            #sectionTitle{
                max-width: 30%;
                margin: 1% auto 0 35%;
            }
        

        </style>
    </head>
    <body>
        <!--Código de um template para Navbar: http://www.prepbootstrap.com/bootstrap-template/searchnavbar-->
        <nav id="navBar" class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Notícias The Guardian</a>
            </div>
            <!--<ul class="nav navbar-nav">
                 <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seções<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="sectionList">
                      <li class="list-group-item" v-for="categoria in sections">{{ categoria.webTitle }}</li> <!-- Utilizar Select e V-Model
                    </ul>
                </li> 
            </ul> -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search" id="formulario">
                        <div class="input-group">
                            <input id="campoPesquisa" type="text" class="form-control" placeholder="Search" name="q" v-model="pesquisa">
                            <!--<div class="input-group-btn">
                                <button id="botaoPesquisar" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>-->
                        </div>
                    </form>
                </div>        
            </div>
        </nav>

        <div>
            <form v-on:submit="fromSelect()">
                <label id="sectionTitle"> Seções de notícias: </label>
                <select v-model="selectedSection" class="form-control" id="sectionSelect">
                    <option v-for="categoria in sections" value="{{ categoria.id }}">{{ categoria.webTitle }}</option> 
                </select>     
            </form>
                  
        </div>
        

        <!-- Fim template -->
        <!--
        <script>
            var xhttp;
            
            
            if(window.XMLHttpRequest)
                xhttp = new XMLHttpRequest();
            else if(window.ActiveXObject)
                xhttp = new ActiveXObject("MSXML2.XMLHTTP.3.0");
            else throw "AJAX Não suportado!";
            
            xhttp.onreadystatechange = processaRequisicao;
            xhttp.open("GET","http://content.guardianapis.com/search?api-key=test", true);
            xhttp.send();   
            

            function processaRequisicao(){
                if(xhttp.readyState == 4){ // Processado e completo
                    if(xhttp.status == 200){ // Tudo OK
                        console.log("Sucesso");
                        var resposta = xhttp.responseText;
                        resposta = JSON.parse(resposta);
                        
                        var i;
                        var out="";
                        for(i = 0; i<resposta.response.results.length;i++){
                            out += '<li class="list-group-item"><a href="'+resposta.response.results[i].webUrl+'">' + resposta.response.results[i].webTitle + '</a></li><br>';
                            console.log(resposta.response.results[i].webTitle);
                        }

                        document.getElementById("formulario").addEventListener("submit", function(evt){
                            evt.preventDefault();

                            var pesquisa = document.getElementById("campoPesquisa").value;

                            xhttp.open("GET","http://content.guardianapis.com/search?q="+pesquisa+"&api-key=test", true);
                            xhttp.send();

                            
                            document.getElementById("titulo").innerHTML = "Resultados para '"+pesquisa+"'";
                            
                        }); 
                        
                        document.getElementById("lista").innerHTML = out;
                    }else
                        console.log("Alguma coisa aconteceu!");
                }  
                else if(xhttp.readyState == 1) // Carregando
                    console.log("Carregando");
                else if(xhttp.readyState == 2) // Carregado
                    console.log("Carregado");  
                else if(xhttp.readyState == 0) // Não inicializado
                    console.log("Carregado");  


            }

        </script>
		-->

        <div class="container" id="app">
            <h2 id="titulo">Últimas notícias</h2>
            <br>
            <form v-on:submit="fromRadioButton()" role="form">
                <label class="radio-inline">
                  <input type="radio" v-model="radio" value="business">Business
                </label>
                <label class="radio-inline">
                  <input type="radio" v-model="radio" value="politics">Politics
                </label>
                <label class="radio-inline">
                  <input type="radio" v-model="radio" value="football">Football
                </label>
            </form>
            <br>
            <ul id="lista" class="list-group">  
                <li class="list-group-item" v-for="noticia in news | filterBy pesquisa">{{ noticia.webTitle }} ----- {{noticia.sectionName}} </li>
            </ul>

            <nav>
			  <ul class="pagination pagination-lg">
			    <li class="page-item" v-show="paginaAtual>1">
			      <button @click="previousPage()" class="page-link" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Anterior</span>
			      </button>
			    </li>
			    
			    <li class="page-item">
			      <button @click="nextPage()" class="page-link" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Próxima</span>
			      </button>
			    </li>
			  </ul>
			</nav>
        </div>

        
        <!-- Carregar o Vue.js -->
      	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
      	<!-- Carregar o Vue Resource -->
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.8.0/vue-resource.min.js"></script>
      	<script src="ajax.js"></script>


    </body>
</html>