<html>
  <head>
  		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  		<!-- Optional theme -->
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  		<style>
  		  #app {margin-top: 20px;}
        .right {float: right;}
  		</style>
  </head>
  
  <body>
      
      <div class="container" id="app">
        <ul class="list-group">
          <li v-for="todo in todos" class="list-group-item">
            {{ todo.text }} 
            <button class="btn btn-danger btn-xs right" @click="remover($index)">Apagar</button>
          </li>
        </ul>

        <div class="col-sm form-inline">
          <input class="form-control" type="text" v-model="tarefa" @keyup.enter="adicionar()" />
        </div>  
      </div>



      <!-- Carregar o Vue.js -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
      <!-- Carregar um app.js -->
      <script src="src/exemplo6.js"></script>
  </body>
</html>

