<html>
  <head>
  		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  		<!-- Optional theme -->
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  		<style>
  		  
  		</style>
  </head>
  
  <body>
      <div class="container" id="aplicacao">
        
        <h2>Campo Nulo? {{ !titulo ? 'SIM' : 'NÃO'  }}</h2>
        <input type="text" v-model="titulo" placeholder="Escreva aqui" />
   
        <input type="text" v-model="numero1" value="0" number />
        + 
        <input type="text" v-model="numero2" value="0" number />
        =
        {{ numero1 + numero2  }}

      </div>

      <!-- Carregar o Vue.js -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
      <!-- Carregar um app.js -->
      <script src="src/exemplo2.js"></script>
  </body>
</html>

