<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAluno</servlet-name>
        <servlet-class>servlets.CadastrarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTrabalho</servlet-name>
        <servlet-class>servlets.CadastrarTrabalho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarTrabalho</servlet-name>
        <servlet-class>servlets.ConsultarTrabalho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAluno</servlet-name>
        <url-pattern>/CadastrarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTrabalho</servlet-name>
        <url-pattern>/CadastrarTrabalho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarTrabalho</servlet-name>
        <url-pattern>/ConsultarTrabalho</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
